*{
	margin : 0;
	padding : 0;	
}
body {
    background: #f9e933;

}

header, main, footer {
    min-width: 100%;
    padding:25px 0;
    width:100%;
}

header .container, main .container, footer .container {
    max-width: 85%;
    
  margin: auto;
}

header {
  background:white ;
  overflow: auto;
 		
}

 h1 {
  float: left;
  height: 25%;
  font-family: Tahoma, Geneva, sans-serif;
  color:red;
}

header nav {
  float: right;
  width: 25%;
}

main {
  background: white;
  overflow: auto;
  height: 70%;
  padding:75px 0;

}

main .left {
  float: left;
  width: 35%;
}

main .right {
  float: right;
  width: 25%;
}
main .left ul{
 
 padding: 10px 25px;
 }
 
 main .left li{
	 padding-left : 2px;
 }
 
footer .left {
  float: left;
  width: 25%;
  padding: 20px 0;
}

footer .sitemap {
  float: right;
  width: 25%;
  padding: 20px 0;
}
footer{
    padding:15px 0;
}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: darkblue;
}

form button {

background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 50px;

width: 100px;

font: bold 15px arial, sans-serif;

}
form input{
    padding: 5px;
}
